.about {
    background: #fafafa;
}

.sec-pad {
    padding: 20px 0px;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.heading-sec__mb-med {
    margin-bottom: 90px;
}

.heading-sec__main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
}

.heading-sec__main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #facf0f;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.heading-sec__sub {
    display: block;
    text-align: center;
    color: #555;
    font-size: 17px;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
}

.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

.about__content-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.about__content-details-para {
    font-size: 16px;
    color: #666;
    max-width: 60rem;
    line-height: 24px;
    margin-bottom: 10px;
}

.btn {
    background: #facf0f;
    padding: 3px 30px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills__skill {
    padding: 2px 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.timeliner::before {
    position: absolute;
    left: 64px;
    width: 4px;
    height: 138px;
    content: '';
    background: #ddd;
}

.timeline-container{
    margin-top: 45px;
}

.timeline-block {
    position: relative;
    clear: both;
    margin: 2em 0;
}

.timeline-icon {
    background-color: #ffc;
    display: inline-block;
    position: relative;
    top: 36px;
    left: 46px;
    border-radius: 50px;
    height: 36px;
    width: 37px;
    text-align: center;
}

.timeline-content {
    position: relative;
    clear: both;
    margin-left: 97px;
    top: -11px;
    left: 3px;
    padding: 12px;
    border-radius: 8px;
    background: #FFC;
    box-shadow: 0 3px 0 #ddd;
    width: 450px;
}

.timeline-content::before {
    position: absolute;
    top: 16px;
    right: 100%;
    width: 0;
    height: 0;
    content: '';
    border: 7px solid transparent;
    border-right: 7px solid #ffc;
}

.more-trigger {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 2;
    opacity: 0.75;
    line-height: 1;
    padding: 8px;
    border: 1px solid #fc6;
    border-radius: 5px;
    background: #fc6;
    color: #fff;
}


.timeline-content h2 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

.text-muted {
    color: #777;
    display: inline-block;
    left: 80px;
    position: relative;
}

.timeline-content p {
    line-height: 1.6;
    margin: 1em 0;
}

.timeline-content .cd-date {
    float: left;
    padding: 0.8em 0;
    opacity: .7;
}

.Icon{
    display: inline-block;
}

.more{
    display: none;
}
.moreDisplay{
    display: inline-block;
}

/* .hover :hover {
    cursor: pointer;
} */